{% extends "base.html" %}
{% block content %}
<ul>
            <div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<a href="inventario/" class="">
					<div class="info-box green-bg">
						<i class="fa fa-cubes"></i>
						<div class="count">Inventario</div>						
					</div><!--/.info-box-->		
					</a>	
				</div><!--/.col-->
				
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<a href="tickets/" class="">
					<div class="info-box brown-bg">
						<i class="fa fa-bug"></i>
						<div class="count">Tickets</div>						
					</div><!--/.info-box-->			
					</a>	
				</div><!--/.col-->	
				
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<a href="calendario/" class="">
					<div class="info-box dark-bg">
						<i class="icon_table"></i>
						<div class="count">Calendario</div>						
					</div><!--/.info-box-->			
					</a>	
				</div><!--/.col-->
				
			</div><!--/.row-->
</ul>
{% endblock %}
